[Desktop Entry]
Name=Rofi File Browser
GenericName=File Manager
Type=Application
Categories=System;FileTools;FileManager;
Exec=rofi -show file-browser -modi file-browser -show-icons -file-browser-dir %u
Icon=system-file-manager
Terminal=false
MimeType=inode/directory;
